body {
    background: black;
}

.clock {
    position: absolute;
    top: 30px/*50%*/;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 60px;
    font-family: Arial;
    letter-spacing: 7px;
}