form {
    margin: 0 auto;
    width:250px;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: lightseagreen;
}
container {
    justify-content: center;
}
label {
    display: block;
    text-align: center;
}
.input-date {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
