:root {
    --main-font: 'Lato', sans-serif;
    --fonta-smagums: 100;
    --fonta-krasa: white;
}

html {
    background-image: url("../img/bilde.jpg");
}

#calendar {
    width: 600px;
    background: rgba(253, 152, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 152, 0, 0.3);
    color: var(--fonta-krasa);
    font-weight: var(--fonta-smagums);
}

.flex1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.epicform {
    width: 100%;
    margin-top: 5%;
    background: rgba(253, 152, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 152, 0, 0.3);
    font-family: var(--main-font);
    color: var(--fonta-krasa);
    font-weight: var(--fonta-smagums);
}

.epicform form {
    text-align: center;
}

.epicform input {
    margin-top: 2%;
}

#submitbutton {
    border-radius: 0.2vw;
    background: greenyellow;
    border: 0 none;
}

.scrolldiv {
    position: absolute;
    margin: 4px 4px;
    padding: 4px;
    width: 500px;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    background: rgba(253, 152, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 152, 0, 0.3);
    font-family: var(--main-font);
    color: var(--fonta-krasa);
    font-weight: var(--fonta-smagums);
}

.item {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-top: 5px;
    margin-left: 5px;
}

.iteminfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#deletesubmit {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}