body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border: solid;
  padding: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  border-top: 1px dashed #000000;
}

.time-slot {
  border: 1px solid white;
}

.past {
  background-color: #B0C4DE;
}

.present {
  background-color: #ff6961;
}

.future {
	background-color: #87CEFA;
}

.saveBtn {
  border: 1px solid black;

}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}